extends ./_layout.pug
block append title
  title 食衣住行省翻天！ | STAYFUN x 明台產物保險

block append content
  .container
    .header
      .wrapper
        img.logo(src="./assets/images/logo.png" alt="") 
    .banner
      img.banner__title(src="./assets/images/img_banner_title.png" alt="")
      img(src="./assets/images/img_banner.jpg" alt="")
    .mainContent
      .wrapper
        .middleSpace
          a.btn(href="https://bit.ly/3gl1vG2" target="_blank") 立即成為明台會員
        .photos
          img(src="./assets/images/img_title.png" alt="")
          img(src="./assets/images/img_main.jpg" alt="")
        .column
          .col
            img(src="./assets/images/text_info-1.png" alt="")
          .col  
            img(src="./assets/images/text_info-2.png" alt="")
          .col  
            img(src="./assets/images/text_info-3.png" alt="")
          .col  
            img(src="./assets/images/text_info-4.png" alt="")

        .row.steps
          .col
            p
              a.mb(href="https://www.msig-mingtai.com.tw/MobileWeb/BasicData/Member/Register？utm_source=stayfun&utm_medium=register_stayfun&utm_campaign=20210501" target="_blank")
                img(src="./assets/images/img_step_2-mb.jpg" alt="")
              img.pc(src="./assets/images/img_step_2-pc.jpg" alt="")
            p
              img(src="./assets/images/img_step_3.jpg" alt="")
          .col
            img(src="./assets/images/img_step_4.jpg" alt="")

      .wrapper.qa
        .row
          .qa-head
            img(src="./assets/images/img_title_qa.png" alt="")
          .qa-body
            table
              tr
                td Q：
                td STAYFUN提供什麼樣的服務？
              tr
                td A：
                td
                  p 1. 不同類型的商家好康，且享有平台嚴選的特約商家優惠、豐富的票券選擇，提供給明台會員使用。
                  p 2. 網羅生活日用品、3C家電、居家生活、美食等優質商品，提供專屬優惠，而且全館免運喔！

              tr
                td Q：
                td 如何享有STAYFUN服務？
              tr
                td A：
                td
                  p 1. 步驟一-110/12/31以前註冊成為明台產險官網會員。
                  p 2. 步驟二-成為明台會員後2週內，會收到STAYFUN帳號開通信件。
                  p 3. 步驟三-即可下載STAYFUN  APP，開通您的專屬帳號即享有其服務。
              
              tr
                td Q：
                td STAYFUN享樂金是什麼？
              tr
                td A：
                td
                  p 為 STAYFUN 專屬支付工具，價值等同現金，1 點享樂金可折抵新臺幣 1 元，訂單結帳時，會優先扣抵享樂金，不足額可使用信用卡刷卡方式完成結帳。
              
              tr
                td Q：
                td 忘記當初在明台註冊所使用的的email怎麼辦？
              tr
                td A：
                td
                  p 跟著以下步驟找回你的留存的資訊：
                  p 明台產險網路投保官網 - 會員中心 - 會員登入-會員資料維護 - 即可查看電子郵件
                  p ( 因保障資料安全性，部分資料會顯示隱碼 )
              
              tr
                td Q：
                td 一直都沒有收到STAYFUN  APP開通信件？
              tr
                td A：
                td
                  p 請聯繫明台客服  0800-069-889，專人為您服務；
                  p 網路投保客戶服務時間：週一至週五 8:30-17:30(例假日及國定假日除外)
              
              tr
                td Q：
                td 為什麼STAYFUN帳號登不進去？
              tr
                td A：
                td
                  p 帳號未開通，請聯繫明台客服  0800-069-889
                  p 網路投保客戶服務時間：週一至週五 8:30-17:30(例假日及國定假日除外)
          p.qa-footer
            | 更多詳細的STAYFUN APP使用問題請
            a(href="https://stayfun.mayohr.com/Home/QA", target="_blank") 點此

    .note
      .wrapper
        ul
          li(style="font-weight: 700; font-size: 1.3rem;") 注意事項
          li 活動內容如有任何異動將公布於本活動網站，本公司享有對本活動最終解釋及更改之權利。
    .footer
      .wrapper
        p &copy; 2021 Copyright MSIG Mingtai Insurance CO.,LTD, All Rights Reserved.
        ul
          li 總公司：臺北市仁愛路四段一號
          li 營業時間：週一至週五早上8:30至下午5:30
          li 電話：02-2772-5678
        ul
          li 網路投保服務專線：0800-069-889
          li 客戶服務專線：0800-528-528
          li 24小時道路救援專線：0800-078-888
        p 最佳瀏覽器版本： IE11 以上、google chrome46 以上、safari 5.0 以上、iOS8 以上、android 6.0 